<div class="container logo-box text-center" id="trillium">
    <a href="/">
      <div>
        <h1 class="trillStud">Trillium Studio<span> TM</span></h1>
        <h5 class="offerings">FINE ART GALLERY • ART CLASSES • WORKSHOPS</h5>
      </div>
    </a> 
  </div>