<% layout('layouts/boilerplate')%>
<%- include('../partials/adminNavbar')%>

<div class="container">

    <div class="row">
        <h1 class="text-center">New Collections</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/collections" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="collection[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="orderKey">Order Key</label>
                    <input class="form-control" type="text" id="orderKey" name="collection[orderKey]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="image">Image - Choose single image</label>
                    <div class="form-control">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                    </div>
                </div>

                <div class="mb-3 text-center">
                    <button class="btn btn-success px-5">Add Collections</button>
                    <a class="btn btn-success px-5" href="/admin">Back to Admin</a>
                </div>
            </form>

        </div>
    </div>
</div>