:root {
    --color-background-one: #e0e4eb;
    --color-background-two: #f0f2f5;
    --color-background-three: #f0f2f5;
    --color-background-four: #e0e4eb;
  
    /* home-name/nav/header/buttons */
    --color-one: #703052;
    /* form-text/markdown-text/messages/buttons */
    --color-three: #304b4f;
    /* labels/hovers */
    --color-four: #1d2d2f;
    /* input-background/navbar/hover */
    --color-five: #ffffff;
    /* card-background/hover/text-shadow */
    --color-six: #fafafa;
  
              
    --font-size-one: 5rem;
    --font-size-two: 4.6rem;
    --font-size-three: 4.3rem;
    --font-size-four: 4rem;
    --font-size-five: 3.6rem;
    --font-size-six: 3.3rem;
    --font-size-seven: 3rem;
    --font-size-eight: 2.6rem;
    --font-size-nine: 2.3rem;
    --font-size-ten: 2rem;
    --font-size-eleven: 1.6rem;
    --font-size-twelve: 1.3rem;
    --font-size-twelveA: 1.2rem;
    --font-size-twelveB: 1.1rem;
    --font-size-thirteen: 1rem;
    --font-size-fourteen: .9rem;
    --font-size-fifteen: .8rem;
    --font-size-sixteen: .7rem;
    --font-size-seventeen: .6rem;
  }
  